h1 {
    text-align: center;
    padding-top: 300px;
    font-family: fantasy; color: rgb(0, 0, 0);

}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVXbrsXcbqXxJqzYE158KlXWLRxKqqr8MEog&usqp=CAU");
}